{% extends "mainpage.html" %}

{% block title %}
    活动通知上传
{% endblock %}

{% block page_title %}
    活动通知
{% endblock %}

{% block breadcrumbs %}
    <li><span>班级管理</span></li>
    <li><span>发布通知</span></li>
    <li><span>活动通知</span></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>

                    <h2 class="panel-title">活动信息</h2>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="post"
                          action="/management/notice_publishment/activity?student_num={{ student_num }}&auth={{ auth }}"
                          target="/management/notice_publishment/activity?student_num={{ student_num }}&auth={{ auth }}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">活动名称</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="activity_title" id="activity_title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">活动描述</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="description" id="description">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">活动地点</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="place" id="place">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">活动日期</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" data-plugin-datepicker class="form-control"
                                           name="activity_date" id="activity_date">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">活动时间</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                    <input type="text" data-plugin-timepicker class="form-control"
                                           data-plugin-options='{ "showMeridian": false }' name="activity_time" id="activity_time" placeholder="08:00">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 col-sm-offset-3" align="right">
                            <button class="btn btn-primary" style="min-width: 200px;min-height: 50px">提交</button>
                        </div>

                    </form>
                </div>
            </section>

        </div>
    </div>
{% endblock %}