{% extends "mainpage.html" %}

{% block title %}
    未提交作业名单
{% endblock title %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block breadcrumbs %}
    <li><span>班级管理</span></li>
    <li><span>未提交作业名单</span></li>
{% endblock breadcrumbs %}

{% block content %}
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">班级作业管理</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-details">
                <thead>
                <tr>
                    <th style="text-align: center"></th>
                    <th style="text-align: center">学号</th>
                    <th style="text-align: center">姓名</th>
                    <th style="text-align: center" width="100px">提醒</th>
                </tr>
                </thead>
                <tbody>
                {% for student in not_uploaded_student %}
                    <tr class="gradeX">
                        <td>{{ student.0 }}</td>
                        <td>{{ student.1.student_num_id }}</td>
                        <td>{{ student.1.student_name }}</td>
                        <td class="center">
                            <form action="/management/homework_notuploadedlist?message_id={{ ms_num }}&target={{ student.1.student_num_id }}"
                                  method="post">
                                {% csrf_token %}
                                <input type="submit" value="发送提醒" class="btn btn-primary" height="2px">
                            </form>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr/>
            <div style="text-align: center">
                <form action="/management/homework_notuploadedlist?message_id={{ ms_num }}&target=all"
                      method="post">
                    {% csrf_token %}
                    <input type="submit" value="向所有未读同学发送提醒" class="btn btn-primary" height="2px">
                </form>
            </div>

        </div>
    </section>
{% endblock content %}