{% extends "mainpage.html" %}

{% block title %}
    {{ message.title }}
{% endblock title %}

{% block page_title %}
    通知详情
{% endblock page_title %}

{% block breadcrumbs %}
    <li><span>通知</span></li>
    <li><span>通知详情</span></li>
{% endblock breadcrumbs %}

{% block content %}
    <section class="content-with-menu mailbox">
        <div class="content-with-menu-container" data-mailbox data-mailbox-view="folder">
            <div class="inner-menu-toggle">
                <a href="#" class="inner-menu-expand" data-open="inner-menu">
                    显示菜单 <i class="fa fa-chevron-right"></i>
                </a>
            </div>

            <menu id="content-menu" class="inner-menu" role="menu">
                <div class="nano">
                    <div class="nano-content">

                        <div class="inner-menu-toggle-inside">
                            <a href="#" class="inner-menu-collapse">
                                <i class="fa fa-chevron-up visible-xs-inline"></i><i
                                    class="fa fa-chevron-left hidden-xs-inline"></i> 隐藏菜单
                            </a>

                            <a href="#" class="inner-menu-expand" data-open="inner-menu">
                                显示菜单 <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>

                        <div class="inner-menu-content">
                            <a class="btn btn-block btn-primary btn-md pt-sm pb-sm text-md">
                                <i class="fa fa-envelope mr-xs"></i>
                                作业通知
                            </a>

                            <ul class="list-unstyled mt-xl pt-md">
                                <li>
                                    <a href="messages_homework"
                                       class="menu-item active">作业通知 <span
                                            class="label label-primary text-normal pull-right">{{ unnoticed_homework_num }}</span></a>
                                </li>
                                <li>
                                    <a href="messages_competition"
                                       class="menu-item">比赛通知 <span
                                            class="label label-primary text-normal pull-right">{{ unnoticed_competition_num }}</span></a>
                                </li>
                                <li>
                                    <a href="messages_activity"
                                       class="menu-item">活动通知 <span
                                            class="label label-primary text-normal pull-right">{{ unnoticed_activity_num }}</span></a>
                                </li>
                                <li>
                                    <a href="messages_message"
                                       class="menu-item">通知消息 <span
                                            class="label label-primary text-normal pull-right">{{ unnoticed_message_num }}</span></a>
                            </ul>
                        </div>

                    </div>
                </div>
            </menu>
            <div class="inner-body mailbox-folder">
                <!-- START: .mailbox-header -->
                <header class="mailbox-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="mailbox-title text-light m-none">
                                <a id="mailboxToggleSidebar" class="sidebar-toggle-btn trigger-toggle-sidebar">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line line-angle1"></span>
                                    <span class="line line-angle2"></span>
                                </a>

                                <strong>作业通知</strong>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <div class="search">
                                <div class="input-group input-search">
                                    <input type="text" class="form-control" name="q" id="q"
                                           placeholder="Search...">
                                    <span class="input-group-btn">
														<button class="btn btn-default" type="submit"><i
                                                                class="fa fa-search"></i></button>
													</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- END: .mailbox-header -->

                <!-- START: .mailbox-actions -->
                <div class="mailbox-actions">
                    <ul class="list-unstyled m-none pt-lg pb-lg">
                        <li class="ib mr-sm">
                            <div class="btn-group">
                                <a href="#" class="item-action fa fa-chevron-down dropdown-toggle"
                                   data-toggle="dropdown"></a>

                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">None</a></li>
                                    <li><a href="#">Read</a></li>
                                    <li><a href="#">Unread</a></li>
                                    <li><a href="#">Starred</a></li>
                                    <li><a href="#">Unstarred</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="ib mr-sm">
                            <a class="item-action fa fa-refresh" href="#"></a>
                        </li>
                        <li class="ib mr-sm">
                            <a class="item-action fa fa-tag" href="#"></a>
                        </li>
                        <li class="ib">
                            <a class="item-action fa fa-times text-danger" href="#"></a>
                        </li>
                    </ul>
                </div>
                <!-- END: .mailbox-actions -->

                <!-- 主体内容 -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">Paragraphs</h2>
                        <p class="panel-subtitle">Make a paragraph stand out by adding lead class, and check out the
                            alternative font style.</p>
                    </header>
                    <div class="panel-body">
                        <p class="lead">Mauris aliquet ultricies ante, non <span class="word-rotate"
                                                                                 data-plugin-options='{ "delay": 3000 }'><span
                                class="word-rotate-items"><span>lorem</span>
									<span>ipsum</span><span>dolor</span></span></span>. Sed ultrices pellentesque purus,
                            vulputate.</p>
                        <p class="lead">Check the <span class="alternative-font">alternative</span> font style.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a adipiscing lectus.
                            Aenean fermentum mauris erat, quis accumsan eros facilisis sed. Nullam convallis arcu nec
                            imperdiet pharetra. Suspendisse sed pharetra orci. Integer elementum augue sed dui
                            sollicitudin, eu molestie leo rutrum. Vestibulum sit amet ullamcorper nunc.</p>
                        <p>Mauris aliquet <span class="highlight">ultricies</span> non faucibus ante gravida sed. Sed
                            ultrices pellentesque purus, vulputate.</p>
                        <p>Check the <span class="alternative-font">alternative</span> font style.</p>
                        <p>Porto Admin is
                            <span class="word-rotate highlight">
											<span class="word-rotate-items">
												<span>incredibly</span>
												<span>especially</span>
												<span>extremely</span>
											</span>
										</span>
                            beautiful and fully responsive.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock content %}