{% extends "mainpage.html" %}

{% block title %}
    班级Gallery
{% endblock title %}

{% block page_title %}
    班级Gallery
{% endblock page_title %}

{% block breadcrumbs %}
    <li><span>班级Gallery</span></li>
{% endblock breadcrumbs %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">郭欣程</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2018302092009</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">陈继</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040021</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">刘俣卓</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040025</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">杨震</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040029</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">蓝弘毅</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040030</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">黄河</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040045</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">王妤帆</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040051</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">任平浩</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040061</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">陈思衡</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040066</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">李沁蔚</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040073</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">汪柏淼</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040083</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">常路</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040089</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">吴雨涵</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040102</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">陈功</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040103</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">杨依涵</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040118</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">肖梓培</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040133</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">熊颖</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040142</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">王箬祺</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040157</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">庄雨岳</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040163</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">李明峻</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040168</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">李柏霖</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040171</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">李苗苗</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040173</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">刘胜蓝</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040174</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">方艳彬</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040178</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">梁雅</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040209</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">宋怀瑜</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040221</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">张嘉仪</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040229</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">刘齐悦</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040230</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">丁敏</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040234</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">刘思嘉</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040235</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">陈曦</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019301040255</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">文浩铭</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019302080295</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">李子璇</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019302091015</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">路晗雨</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019303060012</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">吴同生</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019303060028</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">CALVIN LEONG WAI HIN</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019326660329</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-body">
                        <div class="thumb-info mb-md">
                            <img src={% static 'Image/default.png' %} class="rounded img-responsive" alt="John Doe">
                            <div class="thumb-info-title">
                                <span class="thumb-info-inner">FENG XIE ROBERTO</span>
                                <span class="thumb-info-type">Whuer</span>
                            </div>
                        </div>

                        <div class="widget-toggle-expand mb-md">
                            <div class="widget-header">
                                <h6>个人简介</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content-expanded">
                                <ul class="simple-todo-list">
                                    <li>学号：2019326660330</li>
                                    <li>手机号：</li>
                                    <li>Email：</li>
                                    <li>QQ：</li>
                                    <li>个人简介：</li>
                                    <lī>
                                        <p>
                                        </p>
                                    </lī>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}